* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    background-color: #FAFAFA;
    font-style: Space Grotesk;
    padding: 50px;
}
body {
    font-family: 'Times New Roman', Times, serif;
    max-width: fit-content;
}
logo {
    text-align: left;
}
h1 {
    font-size: 25px;
}
.text {
    font-size: 20px;
}
.moreInfo {
    display: none;
}
.learn-more-btn {
    padding: 15px 25px;
    background-color:#2549D3;
    color: #FAFAFA;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}