* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
   /* background-color: blue;*/
    padding: 25px;
    border-top: 2px;
    margin: 30px;
    /*align-items: center;*/
}
body {
    background-color: #FAFAFA;
    font-family: 'Times New Roman', Times, serif;
    max-width: fit-content;
    align-items: center;
    padding-left: 50px;
}
.logo {
    text-align: left;
    font-style: italic;
    font-family: monospace;
}
h1 {
    font-size: 30px;
    color: #2549D3;
    margin-top:70px;
}
.text {
    font-size: 20px;
}
.moreInfo {
    display: none
}
nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    font-size: 30px;
    align-items: center;
}
nav a {
    color: black;
    text-decoration: none;
}
nav a:hover {
    color: #2549D3;
}
.learn-more-btn {
    padding: 15px 25px;
    background-color:#2549D3;
    color: #FAFAFA;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    margin-top: 90px;
}
.img1 {
    float: right;
    padding-right: 500px;
    padding-left: 20px;
    width: 80%;
    
}
.welcome1{
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    padding-left: 30px;
}
.search-btn {
    text-align: center;
    padding: 600px;
}
.search-btn {
    background-color: white;
    padding: 25px;
    margin-top: 500px;
    margin-left: 100px;
    margin-right: 100px;
    /*max-width: fit-content; */
    padding-left: 30px;
    border-radius: 2pc;
    font-size: 18px;
}
.search {
    color: #FAFAFA;
    background-color: #2549D3;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
}
h2 {
    color: #2549D3;
    text-align: center;
}
.products {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}
.operations {
    margin-top: 50px;
    display: flex;
    align-content: center;
    justify-content: center;

}
.operations div {
    background-color: white;
    align-items: center;
    margin: 20px;
    width: 20%;
    padding: 20px;
}
/*images still need to be edited to perfectly match the ones in the assignment*/
.img2 {
    float: none;
    
    width: 20%;
}
.img3 {
    float: none;
    width: 20%;
}
.img4 {
    float: none;
    width: 20%;
}
/*
Styling "Why Choose us section"
*/
.quality-control {
    padding: 90px;
}
.img5 {
    float: left;
    width: 20%;
}
.quality-control {
    font-size: 20px;

}
.quality-control p{
    text-align: center;
}
.quality-control form {
    text-align: center;
    justify-content: center;
    place-items: center;
}
/*style Our Our Esteemed Customers*/
.prop-feats {
    padding: 150px;
    justify-content: center;
}
.prop-feats h2{
    font-size: 30px;
}
.prop-feats p {
    text-align: center;
    font-size: 25px;
}

.view-more {
    color: #FAFAFA;
    background-color: #2549D3;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
}

/* Style the last part of the landing page*/
.last-part {
    display: flex;
    justify-content: space-around;
    background-color: #2549D3;
    margin: 50px;
    padding-bottom: 100px;
}
.last-part div{
    align-items: center;
}
.last-part h2{
    color: black;
    padding: 20px;
}
.last-part h1 {
    color: black;
}
.last-part p {
    font-size: 20px;
}
#item-list {
    list-style-type: none;
    font-size: 20px;
}
